body {
	margin: 0;
	padding: 0;
}


#map {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;	/* 100% of viewport width */
	height: 100vh;	/* 100% of viewport height */
}

#colorbutton {
position: absolute;
/*background: #fff;*/
padding: 10px;
/*font-family: 'Open Sans', sans-serif;*/
}

button {
    width: 56px;
    height: 20px;
    padding:0px;
    border-width:0px;
    margin:0px;

}
